<table class="table table-responsive" style="margin-top: 40px;">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Todo</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Created Date</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
            <td>Pending</td>
            <td>Nov 10th 2016</td>
            <td>Nov 9th 2016</td>
            <td>
                <i class="fa fa-edit"></i>
                <i class="fa fa-remove" style="color: #6d0303"></i>
            </td>
        </tr>
    </tbody>
</table>