<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
    <div class="col-md-12">
        <div class="col-md-9">
            <label for="text"><h4>Todo</h4></label>
            <input class="form-control" type=text name="text" placeholder="Insert your todo here...">
        </div>
        <div class="col-md-3">
            <label for="duedate"><h4>Due date</h4></label>
            <input class="form-control" type="date" name="duedate">
        </div>
        <button class="btn btn-primary" style="margin-left: 10px; margin-top: 15px;">Add</button>
        <button class="btn btn-danger" style="margin-left: 10px; margin-top: 15px;">Clear</button>
    </div>
</form>